.select {
    label {
        color: $black;
        font-weight: 500;
        font-size: rem(14);
        margin-bottom: rem(-6);

        @include darkMode {
            color: $light;
        }
    }
    &--error {
        color: lighten($color: $danger, $amount: 5%);
        margin-left: rem(8);
        font-size: rem(12) !important;
        font-weight: 500;
    }
    margin-bottom: rem(8);
}
.c-select {
    width: 100%;
    padding: rem(6);
    background: inherit;
    border: rem(0.1) solid transparentize($color: $primary, $amount: 0.6);
    border-bottom: rem(0.8) solid $primary;
    margin-top: $global-margin !important;
    font-family: $font-family-sans-serif;
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        right: 2%;
        border: rem(5) solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: transparent;
        top: 50%;
        transform: translateY(-50%);
        @include darkMode {
            border: $light;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom: transparent;
        }
        z-index: $z-above;
        cursor: pointer;
    }
    &__icon {
        svg {
            font-size: rem(12);
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: rem(10);

        & ~ input {
            padding-left: rem(20);
        }
    }
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        transition: 0;
        border-bottom: rem(2) solid $primary;
    }

    &--error {
        background-color: transparentize($color: $danger, $amount: 0.85);
        border-color: transparentize($color: $danger, $amount: 0.7) !important;
        border-bottom: rem(2) solid $danger !important;
        @include darkMode {
            background-color: initial;
        }
    }
    > input {
        width: 100% !important;
    }
}
