.c-table {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 rem(2) rem(4) var(--color-shadow);
    border-radius: $global-radius;
    th {
        line-height: rem(14);
    }
    td,
    tr,
    th,
    p,
    span,
    div,
    a {
        @include breakpoint(small) {
            font-size: rem(12);
        }
    }
    svg {
        @include breakpoint(small) {
            font-size: rem(20);
        }
    }
    &__head {
        tr,
        th {
            background-color: $primary;
            color: $white;
            @include darkMode {
                background-color: lighten($dark, 3%);
            }
        }
    }

    &__row {
        background-color: darken($light, 2%);
        &:hover {
            background-color: $light !important;
        }
        @include darkMode {
            background-color: lighten($dark, 8%);
            td,
            th {
                max-width: rem(300);
                overflow: hidden;
                color: $white;
            }
            &:hover {
                background-color: lighten($dark, 14%) !important;
            }
        }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:nth-child(even) {
            background-color: darken($light, 6%);
            &:hover {
                background-color: darken($light, 9%) !important;
            }
            @include darkMode {
                background-color: lighten($dark, 20%);
                &:hover {
                    background-color: lighten($dark, 4%) !important;
                }
            }
        }
        td {
            @include breakpoint(medium) {
                padding: rem(10) rem(16);
            }
        }
        .button {
            cursor: pointer;
            // border: 2px solid $white;
            opacity: 0.9;
            font-size: 105%;
            font-weight: 600;
            transform: scale(0.8);
            border: 0;
            box-shadow: $global-shadow;
            border-radius: 4px;
            svg {
                font-size: 100%;
                fill: $dark;
            }
            &:hover {
                opacity: 1;
            }
            &.delete {
                background: lighten($danger, 5%);
            }
            &.update {
                background: lighten($warning, 10%);
                fill: $dark;
            }
        }
    }
    &__navigation {
        background-color: $primary;
        @include darkMode {
            background-color: lighten($dark, 3%);
        }
        p,
        button,
        span,
        svg,
        div {
            fill: $white;
            color: $white;
        }
    }
}
