.c-footer {
    padding: rem(70) rem(2);
    background-color: darken(#5770dc, 3%);
    box-shadow: 0 rem(0) rem(10) var(--color-shadow);
    @include flex(center);
    color: $white;
    @include darkMode {
        box-shadow: 0 rem(-4) rem(8) var(--color-shadow);
        background-color: darken($dark, 4%);
    }
    &__row {
        @include flex(space-between);
        flex-wrap: wrap;

        @include breakpoint(medium) {
            justify-content: center;
        }
        @include breakpoint(medium) {
            justify-content: center;
        }
    }
    &__container {
        max-width: $w-large;
        overflow: hidden;
        width: 100%;
    }
    &__col {
        padding: 0 rem(16);
        min-width: rem(220);
        flex-grow: 1;
        max-width: rem(350);
        height: rem(220);
        align-self: center;
        @include breakpoint(medium) {
            margin-bottom: rem(32);
            text-align: center;
            transition: 0.3s ease;
        }
        @include breakpoint(small) {
            flex-grow: none;
            min-width: none;
            height: auto;
            max-width: rem(300);
            width: 100%;

            &:not(:last-child) {
                padding-bottom: $global-padding;
            }
        }

        h4 {
            font-size: $global-font-size-lg;
            color: inherit;
            text-transform: capitalize;
            margin-bottom: rem(32);
            font-weight: bold;
            position: relative;
            @include darkMode {
                font-weight: 500;
            }
            @include breakpoint(small) {
                font-size: $global-font-size;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: rem(-10);
                background-color: lighten($primary, 15%);
                height: rem(2);
                box-sizing: border-box;
                width: rem(50);
                transition: 0.3s ease;
                @include breakpoint(medium) {
                    left: 0;
                    width: 30%;
                    margin-left: 35%;
                }
                @include breakpoint(small) {
                    width: 50%;
                    margin-left: 25%;
                }
            }
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: $global-padding;
                }

                a {
                    color: inherit;
                    font-size: 16px;
                    text-transform: capitalize;
                    text-decoration: none;
                    display: block;
                    font-weight: 400;
                    transition: all 0.3s ease;
                    @include darkMode {
                        font-weight: 300;
                    }
                    @include breakpoint(small) {
                        font-size: $global-font-size-sm;
                    }
                    &:hover {
                        transform: translateX(12px);
                        color: lighten($primary, 15%);
                    }
                }
            }
        }
    }
    &__social-links {
        @include flex(space-between);
        a {
            height: rem(40);
            width: rem(40);
            background-color: darken($primary, 10%);
            filter: drop-shadow(0 2px 4px var(--color-shadow));
            margin: 0 rem(8) rem(8) 0;
            border-radius: 50%;
            position: relative;
            transition: all 0.5s ease;
            @include breakpoint(small) {
                font-size: $global-font-size-sm;
            }
            svg,
            img,
            i {
                filter: drop-shadow(0 2px 4px var(--color-shadow));
                fill: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                color: $dark;
                background-color: lighten($primary, 10%);
                svg,
                img,
                i {
                    transition: all 0.5s ease;
                    fill: $dark;
                }
            }
        }
    }
}
