.c-alertInput {
  // fundo
  background: linear-gradient(160deg, #abb8eecc, #825fc2cc);
  opacity: 1;
  padding: rem(8) rem(4);
  width: 100vw;
  height: 100vh;

  box-shadow: 0 rem(2) rem(4) var(--color-shadow);
  z-index: $z-above;
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  transition: 0.3s all $t-elastic;

  @include darkMode {
    background: linear-gradient(160deg, $dark + ee, $gray-dark);
  }

  &__alert {
    box-shadow: 0 rem(2) rem(4) var(--color-shadow);
    background-color: $white;
    padding: rem(30);
    width: rem(600);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: rem(8);
    @include darkMode {
      background: $dark;
    }
    @include breakpoint(small) {
      padding: rem(12);
      margin: 0 rem(12);
      max-width: rem(400);
      width: 100%;
    }
  }

  h3 {
    font-size: $global-font-size-lg;
    margin-bottom: rem(8);
  }
  .relative {
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    left: calc(100% - 50px);
    width: rem(40);
    height: rem(40);
    top: rem(10);
    border-radius: 50%;
    background-color: darken($primary, 4%) !important;
    transition: all 0.6 ease;
    padding: rem(8);
    @include flex(center);
    opacity: 0.9;
    box-shadow: 0 rem(2) rem(4) var(--color-shadow);
    &:hover {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 rem(2) rem(8) var(--color-shadow);
    }
    svg {
      fill: $white;
    }
  }

  &.active {
    left: 50%;
  }
}
