.dashboard{
    h1{
        font-size: rem(30);
    }
    &__c{
        display: flex;
        flex-direction: row-reverse;
        @include breakpoint(medium){
            display: block; 
        }
        &__left{
            flex-basis: 70%;
            padding: rem(40);
            @include breakpoint(smallmin){
                padding: rem(5);
            } 
            &__um{
                padding: rem(20);
                background-color: $dash-light;
                border-radius: rem(25);
                border: 1px solid #899fff;
                box-shadow: 0 rem(2) rem(4) var(--color-shadow);
                @include darkMode{
                    background-color: $dash-dark;
                    border: 1px solid $black;
                }
                @include breakpoint(smallmin){
                    padding: rem(1);
                }
                &__title{
                    @include breakpoint(medium){
                        text-align: center;
                    }
                    @include breakpoint(small){
                        padding-top: rem(5);
                    } 
                    @include breakpoint(smallmin){
                        font-size: rem(15);
                    }
                }

            }
            &__dois{
                margin-top: rem(20);
                padding: rem(20);
                background-color: $dash-light;
                border-radius: rem(25);
                border: 1px solid #899fff;
                box-shadow: 0 rem(2) rem(4) var(--color-shadow);
                @include darkMode{
                    background-color: $dash-dark;
                    border: 1px solid $black;
                }
                
                @include breakpoint(medium){
                    text-align: center;
                }
                @include breakpoint(smallmin){
                    font-size: rem(14);
                    padding: rem(1);
                }
                &__title{
                    @include breakpoint(smallmin){
                        font-size: rem(15);
                    }
                }
            }
            &__et{
                display: flex;
                margin-top: rem(20);
                @include breakpoint(small){
                    display: block;
                }
                    &__tres{
                        flex-basis: 49%;
                        background-color: $dash-light;
                        border-radius: rem(25);
                        border: 1px solid #899fff;
                        box-shadow: 0 rem(2) rem(4) var(--color-shadow);
                        @include darkMode{
                            background-color: $dash-dark;
                            border: 1px solid $black;
                        }
                        @include breakpoint(medium){
                            text-align: center;
                        }
                        @include breakpoint(small){
                            flex-basis: 100%;
                            margin-bottom: rem(20);
                        }
                        
                        &__title{
                            margin: rem(30) rem(0) rem(0) rem(30);
                            @include breakpoint(medium){
                                margin: 0 auto;
                                margin-top: rem(15);
                                text-align: center;
                            }
                            @include breakpoint(smallmin){
                                font-size: rem(15);
                            }
                        }
                    }
                    &__quatro{
                        flex-basis: 49%;
                        background-color: $dash-light;
                        border-radius: rem(25);
                        margin-left: rem(20);
                        border: 1px solid #899fff;
                        box-shadow: 0 rem(2) rem(4) var(--color-shadow);
                        @include darkMode{
                            background-color: $dash-dark;
                            border: 1px solid $black;
                        }
                        @include breakpoint(small){
                            flex-basis: 100%;
                            margin-left: rem(0);
                        }
                    
                        &__title{
                            margin: rem(30) rem(0) rem(0) rem(30);
                            @include breakpoint(medium){
                                margin: 0 auto;
                                margin-top: rem(15);
                                text-align: center;
                            }
                            @include breakpoint(smallmin){
                                font-size: rem(15);
                            }
                        }
                    }
        }
     
        } 
        &__right{
            flex-basis: 30%;
            background-color: $dash-light;
            border-radius: rem(25);
            margin: rem(0) rem(40) rem(0) rem(40);
            max-height: rem(500);
            margin-top: rem(40);
            border: 1px solid #899fff;
            box-shadow: 0 rem(2) rem(4) var(--color-shadow);
            @include breakpoint(large){
               margin: rem(0);
            } 
            @include breakpoint(smallmin){
                margin: rem(5);
            } 
                @include darkMode{
                    background-color: $dash-dark;
                    border: 1px solid $black;
                }
            
            &__profile{
                 border-bottom: 1px solid $primary;
                 @include darkMode{
                    border-bottom: 1px solid $black;
                }

                &__p{
                    min-height: 100%;
                    height: rem(70);
                    padding: rem(20);
                    background-color: $primary;
                    border-radius: rem(25) rem(25) rem(0) rem(0);
                    @include darkMode{
                        background-color: $accent;
                    }
                    
                    &__circle{
                        margin-top: rem(-32);
                        margin-left: rem(20);
                        width: rem(70);
                        height: rem(70);
                        background-color: $dash-light;
                        border-radius: rem(100);
                        border: 2px solid $white;
                        @include darkMode{
                            background-color: $dash-dark;
                            border: 2px solid $white;
                        }
                    }

                    &__icon{
                        float: right;
                        font-size: rem(22);
                        margin-top: rem(-50);
                        margin-right: rem(20);
                        color: white;
                    }
                    &__title{
                        font-size: rem(19);
                        text-align: left;
                        margin-left: rem(20);
                        margin-bottom: rem(10);
                        margin-top: rem(6);
                        @include breakpoint(medium){
                            font-size: rem(17);
                        }
                        @include breakpoint(smallmin){
                            font-size: rem(15);
                        }
                    }
                }

            }
            &__statistics{
                width: 100%;
                &__title{
                    font-size: rem(21);
                    margin: rem(20);
                    @include breakpoint(large){
                        font-size: rem(17);
                    }
                    @include breakpoint(medium){
                        font-size: rem(16);
                    }
                }
                &__datas{
                    margin: rem(20);
                    padding: rem(10);
                    background-color: #dbdbf8;
                    border-right: 4px;
                    border-radius: rem(15);
                    border-left: 10px solid $primary;
                    
                    @include breakpoint(large){
                        margin: rem(10) rem(20);
                    }

                    &__title{
                        font-size: rem(16);
                        color: $primary;
                        @include darkMode{
                            color: $accent;
                        }
                        @include breakpoint(large){
                            font-size: rem(15);
                        }
                        @include breakpoint(medium){
                            font-size: rem(14);
                        }
                    }
                    &__num{
                        font-size: rem(16);
                    }                
                    @include darkMode{
                        background-color: #2D2A32;
                        border-left: 10px solid $accent;
                    }
                }
            }
        }
        
    }
    
}