body {
  margin-left: rem(-80);
}
.login-main {
  width: 100% !important;
  background-image: linear-gradient(
    40deg,
    var(--color-accent),
    var(--color-primary),
    var(--color-twitter)
  );
  min-height: 100vh;
  height: 100%;
  @include flex(center);
  overflow: hidden;
}
.login_field {
  background-color: $white;
  max-width: $w-min;
  width: 78%;
  color: $black;
  border-radius: $global-radius;
  margin: 0 auto;
  box-shadow: $global-shadow;
 
  &__volt{
    margin-left: rem(-50);
    font-weight: 600;
  }
  &__btn{
    font-weight: 600;
  }
  &__form{
    margin-left: rem(20);
    margin-right: rem(20);
    padding: rem(18);
   }
  &__title {
    font-weight: 300;
    color: $gray;
    text-align: center;
    @include breakpoint(smallin) {
      font-size: rem(12);
    }
  }
  &__link {
    color: $white;
    margin: rem(10);
    padding: rem(12);
    @include breakpoint(smallin) {
      font-size: rem(12);
    }
    // text-align: center;
    @include flex(center);
    svg {
      width: rem(50);
      font-size: rem(25);
      margin-right: rem(5);
      @include breakpoint(smallin) {
        font-size: rem(20);
      }
    }  
    span {
      align-self: flex-start;
      width: rem(200);
      @include breakpoint(smallin) {
        font-size: rem(12);
      }
    }
  
  }
  &.btn {
    background: $accent;
    width: 100%;
    text-align: center;
  }
  &.voltar {
    background: $primary;
    text-align: center;
    width: 100%;
    height: 10%;
  }
  &.google {
    background: linear-gradient(to left, #c83241, #dc3535);
  }
  &.facebook {
    background: linear-gradient(to left, #56a7f2, #468aca);
  }
  &.email {
    background: $accent;
  }
  &.conta {
    background: $primary;
  }
  &__line {
    text-align: center;
    font-weight: 200;
    color: $gray-light;
    margin: rem(20);

    &::before {
      right: 0.5rem;
      margin-left: -50%;
      background-color: $gray-light;
      content: "";
      display: inline-block;
      height: 1px;
      position: static;
      vertical-align: middle;
      width: 30%;
      margin-right: rem(8);
    }
    &::after {
      right: 0.5rem;
      margin-right: -50%;
      background-color: $gray-light;
      content: "";
      display: inline-block;
      height: 1px;
      position: static;
      vertical-align: middle;
      width: 30%;
      margin-left: rem(8);
    }
  }
  &__terms {
    color: var(--color-linkedin);
    font-size: rem(12);
    text-align: center;
    margin-top: rem(20);
    padding-bottom: rem(18);
    text-decoration: underline;
    @include breakpoint(smallin) {
      font-size: rem(11);
    }
  }
  &__esenha {
    color: $danger;
    font-size: rem(12);
    text-align: left;
    margin-top: rem(5);
    padding-bottom: rem(15);
    @include breakpoint(smallin) {
      font-size: rem(11);
    }
  }
  &__logo {
    background: #468aca;
    position: relative;
    top: 0;
    transform: translateY(-53%);
    width: 55%;
    overflow: hidden;
    height: rem(65);
    @include flex(center);
    margin: 0 auto rem(-20);
    border-radius: $global-radius;
    padding: 0 rem(55);

    @include breakpoint(small) {
      /* 
        background: #dc3535; */
      min-width: rem(230);
      width: rem(200);
    }
  }
 
 
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  svg {
    fill: #f3f4f5;
    fill-opacity: 0.4;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include breakpoint(small) { 
      right: rem(-14px); 
    }
  }
}
