.l-main {
  max-width: $w-large;
  width: 100% !important;
  margin: rem(60) auto;
  flex-wrap: wrap;
  overflow: visible;
  color: inherit;
  padding: 0 rem(20);
  @include breakpoint(small) {
    padding: 0 rem(10);
  }

}
