.MuiSlider-markLabelActive,
.MuiSlider-markLabel {
    @include darkMode {
        color: $light !important;
    }
}
.l-perfil {
    box-shadow: 0 0 rem(8) var(--color-shadow);
    border-radius: rem(8);
    padding-bottom: rem(20);
}
.capa {
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
    background-color: $primary;
    /*#513487 DARK*/
    width: 100%;
    height: 150px;

    @include darkMode {
        background-color: #513487;
    }
    @media (max-width: 327px) {
        height: 100px;
    }
}

.c-button.pequeno {
    max-width: rem(140) !important;
    @include breakpoint(small) {
        margin-top: rem(4);
        max-width: 100% !important;
    }
}
.infos {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: -5% !important;
    display: flex;
    padding-left: 150px !important;

    @media (max-width: 1050px) {
        padding-left: 50px !important;
    }
    @media (max-width: 427px) {
        padding-left: 0px !important;
    }
    @media (max-width: 327px) {
        padding: 0;
        flex-direction: column;
        margin: 0 auto;
        display: flex;
    }

    &__foto {
        cursor: pointer;
        overflow: hidden;
        @include flex(center);
        svg {
            fill: $light;
            opacity: 0.8;
            transition: 0.5s all ease;
            font-size: rem(40);
            &:hover {
                opacity: 1;
            }
        }
        width: 150px;
        height: 150px;
        background-color: $gray-dark;
        border: 2px solid $white;
        border-radius: 100px;

        @media (max-width: 427px) {
            width: 120px;
            height: 120px;
            transition: 0.5s;
        }
        @media (max-width: 350px) {
            width: 90px;
            height: 90px;
            transition: 0.5s;
        }
        @media (max-width: 327px) {
            width: 120px !important;
            height: 120px !important;
            margin: 0 auto !important;
        }
    }

    &__texto {
        background-color: transparent;
        height: 75px;
        margin-top: 66px !important;
        padding-left: 30px !important;
        flex-direction: column;

        @media (max-width: 475px) {
            margin-top: 50px !important;
        }
        @media (max-width: 350px) {
            margin-top: 20px !important;
            margin: 0 auto;
            padding-left: 0 !important;
        }

        &__nome {
            .txtNome {
                color: $dark;
                font-size: 30px;
                font-weight: bold;
                @include darkMode {
                    color: $white;
                }
            }
        }

        &__aluno {
            .txtAluno {
                color: $dark;
                font-size: 13px;
                @include darkMode {
                    color: $white;
                }
            }
        }
    }
}

.card {
    margin-top: 30px !important;
    width: 100%;
    background-color: transparent;

    &__body {
        width: 80%;
        height: auto;
        background-color: $white;
        margin: 0 auto !important;
        padding: 30px !important;
        border-radius: 10px;
        box-shadow: 2px 2px 10px var(--color-shadow);
        @include darkMode {
            background-color: darken($color: $dark, $amount: 3%);
        }
        @include breakpoint(small) {
            width: 100%;
            box-shadow: none !important;
            padding: rem(20) 12px !important;
        }

        .meusDados {
            background-color: transparent;
            padding-bottom: 30px;

            p {
                color: #242424;
                font-size: 25px;
                font-weight: bold;
                @include darkMode {
                    color: $white;
                }

                @media (max-width: 516px) {
                    font-size: $global-font-size-xlg;
                }
            }
        }
        .dados {
            display: flex;
            justify-content: space-between;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            @include breakpoint(small) {
                flex-direction: column;
            }

            .nomeUsuario,
            .emailUsuario,
            .dataNascUsuario {
                .fixo {
                    color: $black;
                    font-size: $global-font-size-lg;
                    @include darkMode {
                        color: $light;
                    }
                    @media (max-width: 516px) {
                        font-size: 17px;
                    }
                }
                .var {
                    color: #242424;
                    font-size: $global-font-size;
                    @include darkMode {
                        color: $light;
                    }
                    @media (max-width: 382px) {
                        font-size: $global-font-size-sm;
                    }
                }
            }

            .btnEditar {
                display: flex;
                background-color: #5666cf;
                justify-content: center;
                text-align: center;
                align-items: center;
                cursor: pointer;
                height: rem(20);
                padding: rem(16);
                border-radius: rem(4);

                &:hover {
                    background-color: #909adb;
                }

                //Aqui pode alterar para <a>, <span> ou sla oq
                p {
                    font-weight: bold;
                    color: $white;
                }
            }
        }

        .itensAparencia {
            font-size: 22px;
            color: $black;
            @include darkMode {
                color: $white;
            }
        }

        .aparencia {
            .c-radio {
                background-color: darken($color: $light, $amount: 5%);
                & > span:first-child {
                    color: $accent !important;
                    padding: rem(4) !important;
                    &:hover {
                        transition: 0.3s ease;
                        background-color: rgba($color: $accent, $alpha: 0.075) !important;
                    }
                    span:hover,
                    span:active {
                        color: $accent !important;
                    }
                }
                @include darkMode {
                    background-color: darken($color: $dark, $amount: 5%);
                    color: $white;
                }
                margin-top: rem(4);
                padding: rem(4);
                border-radius: rem(8);
            }
        }
    }
}
