*{
    margin: 0;
    padding: 0;

}

.capa{
    background-color: #4a64d9; 
    /*#513487 DARK*/
    width: 100%;
    height: 150px;

    @include darkMode{
        background-color: #513487;
    }
    @media (max-width: 327px){
        height: 100px;
    }
}

.infos{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: -5% !important;
    display: flex;
    padding-left: 150px !important;

    @media (max-width: 1050px){
        padding-left: 50px !important;
    }
    @media (max-width: 427px){
        padding-left: 0px !important;
    }
    @media (max-width: 327px){
        flex-direction: column;
        margin: 0 auto;
        display: flex;
    }
    
    

    &__foto{
        width: 150px;
        height: 150px;
        background-color: #383838;
        border: 2px solid #ffffff;
        border-radius: 100px;

        @media (max-width: 427px){
            width: 120px;
            height: 120px;
            transition: .5s;
        }
        @media (max-width: 350px){
            width: 90px;
            height: 90px;
            transition: .5s;
        }
        @media (max-width: 327px){
            width: 120px !important;
            height: 120px !important;
            margin: 0 auto !important;
        }
    }

    &__texto{
        background-color: transparent;
        height: 75px;
        margin-top: 66px !important;
        padding-left: 30px !important;
        flex-direction: column;

        @media (max-width: 475px){
            margin-top: 50px !important;
        }
        @media (max-width: 350px){
            margin-top: 20px !important;
            margin: 0 auto;
            padding-left: 0 !important;
        }

        &__nome{
            .txtNome{
                color: #242424;
                font-size: 30px;
                font-weight: bold;
                @include darkMode{
                    color: #FFF;
                }
            }
        }

        &__aluno{
            .txtAluno{
                color: #242424;
                font-size: 13px;
                @include darkMode{
                    color: #FFF;
                }
            }
        }
    }
}

.card{
    margin-top: 30px !important;
    width: 100%;
    background-color: transparent;
    

    &__body{
        width: 80%;
        height: auto;
        background-color: #FFF;
        margin: 0 auto !important;
        padding: 30px !important;
        border-radius: 10px;
        box-shadow: 10px 10px 10px #0000004d;
        @include darkMode{
            background-color: #1a1d20;
        }

        .meusDados{
            background-color: transparent;
            padding-bottom: 30px;

            p{
                color: #242424;
                font-size: 25px;
                font-weight: bold;
                @include darkMode{
                    color: #FFF;
                }

                @media (max-width: 516px){
                    font-size: 20px;
                }
            }
        }
        .dados{
            display: flex;
            justify-content: space-between;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            @media (max-width: 516px){
                flex-direction: column;
            }

            .nomeUsuario, .emailUsuario, .dataNascUsuario{
                .fixo{
                    color: #0f0f0f;
                    font-size: 22px;
                    @include darkMode{
                        color: #FFF;
                    }
                    @media (max-width: 516px){
                        font-size: 17px;
                    }
                }
                .var{
                    color: #242424;
                    font-size: 15px;
                    @include darkMode{
                        color: #FFF;
                    }
                    @media (max-width: 382px){
                        font-size: 13px;
                    }
                }
            }

            .btnEditar{
               background-color: #5666CF;
               justify-content: center;
               text-align: center;
               height: 30px;
               padding-left: 15px;
               padding-right: 15px;
               padding-top: 5px;
               padding-bottom: 5px;
               border-radius: 3px;
               cursor: pointer;

               &:hover{
                   background-color: #909adb;
               }
               
               //Aqui pode alterar para <a>, <span> ou sla oq
               p{
                font-weight: bold;
                color: #FFF;
               }
            }

        }

        .itensAparencia{
            font-size: 22px;
            color: #000;
            @include darkMode{
                color: #FFF;
            }
        }

        .aparencia{

            .radioGrupo{
                
                
                .radio{
                    font-size: 15px;
                    font-weight: 500;
                    display: flex;
                    color: #0f0f0f;
                    position: relative;
                    background-color: #ececec;
                    padding: 10px;
                    border: 2px #FFF solid;
                    border-radius: 10px;
                    @include darkMode{
                        color: #FFF;
                        border: 2px #1a1d20 solid;
                        background-color: #0f0f0f;
                    }

                    p{
                        padding-left: 30px;
                    }

                    input[type="radio"]{
                        display: none;

                        &:checked ~ span:after{
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }

                    span{
                        margin-top: 6px;
                        margin-left: 10px;
                        height: 14px;
                        width: 14px;
                        border-radius: 50%;
                        border: 2px solid #4a64d9;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 7px;

                        &:after{
                            content: "";
                            height: 7px;
                            width: 7px;
                            background-color: #4a64d9;
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            border-radius: 50%;
                            transition: 300ms ease-in-out 0s;
                        }

                    }
                }
            }

           
            
                
                
            
        }


        
    }
}


