.c-results {
    background-color: #efe7ff;
    padding: rem(20);
    border-radius: rem(8);
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    box-shadow: rem(5) rem(5) rem(8) var(--color-shadow);
    @include darkMode {
        background-color: #212023;
    }
    @include breakpoint(smallin) {
        padding: rem(10);
        width: 90%;
    }
    &__headline {
        font-size: rem(25);
        font-weight: 700;
        color: $primary;
        @include breakpoint(medium) {
            font-size: rem(20);
        }
        @include breakpoint(small) {
            font-size: rem(18);
        }
        @include breakpoint(smallin) {
            font-size: rem(14);
        }
        &__img {
            max-width: 20%;
            margin: 0 auto;
            @include breakpoint(large) {
                max-width: 30%;
            }
            @include breakpoint(small) {
                max-width: 40%;
            }
            @include breakpoint(smallmin) {
                max-width: 50%;
            }
        }
        &__frame {
            height: 0;

            &__conf {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__dados {
        background-color: #b9c4ff;
        border-radius: rem(8);
        display: flex;
        justify-content: center;
        width: 100%;
        padding: rem(10);

        @include darkMode {
            background-color: #333039;
        }
        &__title {
            font-size: rem(20);
            font-weight: bold;
            @include breakpoint(small) {
                font-size: rem(18);
            }
            @include breakpoint(smallmin) {
                font-size: rem(14);
            }
            transform: translateY(24px);
            z-index: 999;
        }

        .esquerda {
            @include flex(start);
            flex-direction: column;
            width: 50%;
            position: relative;
        }

        .direita {
            @include flex(center);
            flex-direction: column;
            width: 50%;

            .c-button {
                margin-top: rem(25);
                max-width: rem(300);
            }
        }

        .dash {
            @include flex(center);
            margin-top: rem(25);
            background-color: $primary;
            border-radius: rem(8);
            width: 70px;
            height: 50px;
            svg {
                fill: $white;
            }
        }

        .erro {
            width: min-content;
            position: absolute;
            top: 50%;
            background-color: transparent;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            .grande {
                font-size: rem(28);
                font-weight: 900;
            }
            .pequeno {
                font-size: rem(14);
                font-weight: 400;
            }
        }
    }
}

.l-simulado {
    .select {
        margin-bottom: rem(12);
        margin-right: rem(4);
    }
    &__filtro {
        @include flex(space-around);
        flex-wrap: wrap;
        > div,
        > button {
            margin-top: rem(12);
            flex-grow: 1;
            height: rem(50);
            max-width: rem(350);
            @include breakpoint(small) {
                margin-right: 0;
                max-width: 100%;
            }
        }
    }

    &__instructions {
        background-color: #efe7ff;
        padding: rem(40);
        box-shadow: 0 rem(4) rem(6) var(--color-shadow);
        margin: 0 auto;
        border-radius: rem(8);
        margin-bottom: rem(15);
        @include breakpoint(small) {
            padding: rem(12);
        }
        @include darkMode {
            background-color: #212023;
        }
        &__title {
            font-size: rem(30);
            font-weight: 700;
            text-align: center;
            color: $primary;
            @include breakpoint(medium) {
                font-size: rem(25);
            }
            @include breakpoint(small) {
                font-size: rem(20);
            }
        }
        &__sub {
            font-size: rem(20);
            color: $primary;
            text-align: justify;
            margin-top: rem(15);
            @include breakpoint(medium) {
                font-size: rem(18);
            }
            @include breakpoint(small) {
                font-size: rem(17);
            }
        }
        &__txt {
            font-size: rem(16);
            font-weight: 600;
            text-align: justify;
            @include breakpoint(medium) {
                font-size: $global-font-size-sm;
            }
        }
        &__s {
            &__q {
                margin-left: rem(20);
                @include breakpoint(medium) {
                    font-size: $global-font-size;
                }
                @include breakpoint(small) {
                    font-size: $global-font-size-sm;
                }
            }
        }
        &__icons {
            &__txt {
                margin-left: rem(20);
                margin-top: rem(10);
                text-align: justify;
                @include breakpoint(medium) {
                    font-size: $global-font-size;
                }
                @include breakpoint(small) {
                    font-size: $global-font-size-sm;
                    margin-left: rem(8);
                }
                &__t {
                    margin-right: rem(10);
                }
                &__e {
                    margin-right: rem(10);
                    font-size: rem(20);
                }
                &__g {
                    fill: green;
                }
                &__o {
                    fill: orange;
                }
                &__r {
                    fill: red;
                    margin-right: rem(10);
                }
                &__c {
                    fill: $primary;
                    margin-right: rem(10);
                }
            }
        }
    }
}
