body {
    padding-left: 75px;
}
.l-header {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 80px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: 0.4s ease;
    &--open {
        width: 250px;
    }
    // overflow: auto;
    * {
        transition: all 0.5s ease;
    }
    &__logo {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__image {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        z-index: -5;
        max-width: 120px;
        // display: none; //Aparecer no open
    }
    &--open &__image {
        opacity: 1;
    }

    &__menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }

    .icon {
        fill: #fff;
        position: absolute;
        top: 50%;
        width: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;

        path {
            padding: 10px;
        }
    }
    &--open .icon {
        top: 50%;
        width: 50px;
        left: 0;
        transform: translate(0, -50%);
        text-align: center;
        cursor: pointer;
    }
    &--open &__menu {
        left: 80%;
    }
    .c-navbar {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        position: relative;

        &__tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            color: black;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            z-index: 1010;
            white-space: nowrap;
            pointer-events: none;
        }
        &__menu-item {
            position: relative;
            margin: 8px 0;

            &:hover .c-navbar__tooltip {
                opacity: 1;
                pointer-events: auto;
                top: 50%;
                transform: translateY(-50%);
            }

            .arrow {
                opacity: 0;
            }
        }

        &__search {
            width: 50px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            border-radius: 12px;
            background: #1d1b31;

            &:hover {
                background-color: #fff;
                .icon {
                    fill: #11101d;
                }
            }
        }
        &__input-search {
            font-size: 15px;
            color: #fff;
            font-weight: 400;
            outline: none;
            height: 50px;
            width: 100%;
            width: 50px;
            border: none;
            border-radius: 12px;
            display: none;
            background: #1d1b31;
        }
        .space {
            width: 50px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            border-radius: 12px;

            &:hover {
                background-color: #fff;
                .icon {
                    fill: #11101d;
                }
            }
        }
        &__links-name {
            opacity: 0;
            display: none;
        }
        &__sub-menu {
            display: none;
        }
        &__profile {
            position: fixed;
            height: 80px;
            width: 80px;
            left: 0;
            bottom: -8px;
            padding: 10px 14px;
            background: #1d1b31;
            display: flex;
            overflow: hidden;
        }
        &__image-profile {
            display: none;
        }
        &__name-job {
            display: none;
        }
    }
    &--open .c-navbar {
        &__menu-item {
            &:hover .c-navbar__tooltip {
                opacity: 0;
            }

            .arrow {
                opacity: 1;
            }

            a {
                width: 100%;
            }
        }
        &__links-name {
            opacity: 1;
            display: flex;
            position: relative;
            top: 50%;
            width: 50px;
            font-weight: 400;
            left: 0;
            flex-grow: 1;
            align-items: center;
            transform: translate(0, -50%);
        }

        &__search {
            width: 50px;
            left: 0;
            transform: translateX(0);
            border-radius: 12px 0 0 12px;
            &:hover {
                background-color: #1d1b31;
                .icon {
                    fill: #fff;
                }
            }
        }
        .sc {
            display: flex;
            width: 100%;
        }
        &__input-search {
            width: 100%;
            border-radius: 0 12px 12px 0;
            display: block;
        }
        .space {
            width: 100%;
            position: relative;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            border-radius: 12px;

            &:hover {
                background-color: #fff;
                .icon {
                    fill: #11101d;
                }
                span {
                    color: #11101d;
                }
            }
            .icon {
                position: relative;
                top: 50%;
                width: 50px;
                left: 0;
                transform: translate(0, -50%);
            }
            .arrow {
                font-size: 12px;
            }
        }
        &__sub-menu {
            display: block;
            background-color: #1d1b31;
            width: 100%;
            height: 0;
            border-radius: 8px;
            opacity: 0;
            visibility: hidden;

            a {
                font-size: 14px;
                color: white;
                background-color: transparent;
                font-weight: 400;
            }

            li {
                width: 100%;
                margin: 2px 0;
                padding: 6px 12px;
                border-radius: 12px;
                color: #1d1b31;
                &:hover {
                    background-color: white;
                }
                &:hover a {
                    color: #1d1b31;
                }
            }
        }
        &__dropdown:hover .c-navbar__sub-menu {
            margin-top: 8px;
            visibility: visible;
            padding: 8px 4px;
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 170px;
        }
        &__dropdown {
            margin-bottom: -8px;
        }
        &__profile {
            width: 250px;
        }
        &__profile-details {
            @include flex(center);
        }
        &__image-profile {
            width: 60px;
            height: 50px;
            background-color: #777;
            overflow: hidden;
            display: block;
            border-radius: 8px;
            margin-right: 8px;
        }
        &__name-job {
            display: block;
        }
        &__log-out {
            left: 80%;
        }
    }
}
