body {
    padding-left: rem(80);
    @include breakpoint(small) {
        padding-left: rem(50);
    }
}

.l-header {
    position: fixed;
    height: 100%;
    box-shadow: 0 rem(8) rem(14) var(--color-shadow);
    left: 0;
    top: 0;
    width: rem(80);
    padding: rem(6) rem(14);
    @include breakpoint(small) {
        padding: rem(4) rem(6);
        width: rem(50);
    }
    z-index: $z-dropdown;
    transition: 0.5s ease;
    background: linear-gradient(120deg, darken($primary, 5%), $primary);

    @include darkMode {
        background: #1a1d20;
    }
    &--open {
        width: rem(250);
    }
    // overflow: auto;
    * {
        transition: all 0.5s ease;
    }
    &__logo {
        height: rem(60);
        display: flex;
        align-items: center;
        position: relative;
        @include breakpoint(small) {
            padding: rem(4) rem(6);
            height: rem(40);
            margin-bottom: rem(-10);
        }
    }

    &__image {
        color: $white;
        font-weight: 600;
        opacity: 0;
        z-index: -5;
        max-width: rem(120);
        // display: none; //Aparecer no open
    }
    &--open &__image {
        opacity: 1;
    }

    &__menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }

    .icon {
        fill: $white;
        position: absolute;
        top: 50%;
        // width: rem(50);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;

        path {
            padding: rem(10);
            @include breakpoint(small) {
                padding: rem(4);
            }
        }

        @include breakpoint(small) {
            font-size: rem(12);
        }
    }
    &--open .icon {
        top: 50%;
        width: rem(50);
        left: 0;
        transform: translate(0, -50%);
        text-align: center;
        cursor: pointer;
    }
    &--open &__menu {
        left: 80%;
    }
    label {
        max-width: rem(80);
        margin-bottom: rem(-12);

        @include breakpoint(small) {
            margin-top: rem(12);
        }
        @include flex(start);
    }
    &--open label {
        justify-content: center;
        max-width: rem(200);
    }
    label .MuiTypography-root {
        color: $white;
        display: none;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
    &--open label .MuiTypography-root {
        display: block;
    }
    .c-switch {
        margin-left: rem(8);
        @include breakpoint(small) {
            margin-left: rem(0);
            transform: scale(0.8);
        }
    }

    .MuiSwitch-colorSecondary.Mui-checked {
        color: saturate(lighten($accent, 45%), 50%);
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: saturate(lighten($accent, 45%), 50%);
    }

    .c-navbar {
        margin-top: rem(20);
        width: 100%;
        height: 100%;
        position: relative;

        &__tooltip {
            position: absolute;
            top: rem(-20);
            left: calc(100% + 15px);
            z-index: $z-dropdown;
            background: $white;
            color: $black;
            box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, 0.3);
            padding: rem(6) rem(12);
            border-radius: rem(4);
            font-size: $global-font-size-sm;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;

            @include breakpoint(small) {
                padding: rem(4) rem(8);
                font-size: rem(12);
            }
        }
        &__menu-item {
            position: relative;
            margin: rem(8) 0;

            &:hover .c-navbar__tooltip {
                opacity: 1;
                pointer-events: auto;
                top: 50%;
                transform: translateY(-50%);
            }

            .arrow {
                opacity: 0;
            }
        }

        &__search {
            width: rem(50);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: rem(50);
            @include breakpoint(small) {
                height: rem(30);
                width: rem(30);
            }
            border-radius: rem(12);

            background: $primary;
            @include darkMode {
                background: $accent-dark;
            }

            &:hover {
                background-color: $white;
                .icon {
                    fill: $accent;
                    @include darkMode {
                        fill: $white;
                    }
                }
            }
        }
        &__input-search {
            font-size: $global-font-size;
            color: $white;
            font-weight: 400;
            outline: none;
            width: 100%;
            height: rem(50);
            width: rem(50);
            border: none;
            border-radius: rem(12);
            display: none;
            &::placeholder {
                color: $white;
            }
            @include breakpoint(small) {
                font-size: $global-font-size-sm;
                height: rem(30);
                width: rem(30);
            }
            background: $primary;
            @include darkMode {
                background: $accent-dark;
            }
        }
        .space {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: rem(50);
            height: rem(50);
            border-radius: rem(12);
            @include breakpoint(small) {
                width: rem(35);
                height: rem(35);
            }
            &:hover {
                background-color: $white;
                .icon {
                    fill: $accent;

                    @include darkMode {
                        fill: #11101d;
                    }
                }
            }
        }
        &__links-name {
            font-size: $global-font-size-sm;
            opacity: 0;
            display: none;
            @include breakpoint(small) {
                font-size: rem(12);
            }
        }
        &__sub-menu {
            display: none;
        }
        &__profile {
            position: fixed;
            height: rem(80);
            width: rem(80);

            left: 0;
            bottom: rem(-8);
            padding: rem(10) rem(14);
            background: darken($primary, 13%);
            @include darkMode {
                background:  $accent-dark;
            }
            display: flex;
            overflow: hidden;
            @include breakpoint(small) {
                height: rem(60);
                width: rem(50);
            }
        }
        &__image-profile {
            display: none;
        }
        &__name-job {
            display: none;
            color: $white;
            @include darkMode {
                color: $white;
            }
            .name {
                font-size: $global-font-size-sm;
            }
        }
    }
    &--open .c-navbar {
        &__menu-item {
            &:hover .c-navbar__tooltip {
                opacity: 0;
            }

            .arrow {
                opacity: 1;
            }

            a {
                width: 100%;
            }
        }
        &__links-name {
            color: $white;
            opacity: 1;
            display: flex;
            position: relative;
            top: 50%;
            width: rem(50);
            font-weight: 400;
            left: 0;
            flex-grow: 1;
            align-items: center;
            transform: translate(0, -50%);
        }

        &__search {
            width: rem(50);
            left: 0;
            @include breakpoint(small) {
                height: rem(35);
            }
            transform: translateX(0);
            border-radius: rem(12) 0 0 rem(12);
            &:hover {
                background-color: $primary;
                @include darkMode {
                    background-color: $accent-dark;
                }
                .icon {
                    fill: $white;
                }
            }
        }
        .sc {
            display: flex;
            width: 100%;
        }
        &__input-search {
            width: 100%;
            border-radius: 0 rem(12) rem(12) 0;
            display: block;
            @include breakpoint(small) {
                height: rem(35);
            }
        }
        .space {
            width: 100%;
            position: relative;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            height: rem(50);
            border-radius: rem(12);

            @include breakpoint(small) {
                height: rem(35);
            }
            &:hover {
                background-color: $white;
                @include darkMode{
                    background-color: #101214;
                }
                .icon {
                    fill: $accent;
                    @include darkMode {
                        fill: $accent;
                    }
                }
                span {
                    color: $accent;
                    @include darkMode {
                        color: $white;
                    }
                }
            }
            .icon {
                position: relative;
                top: 50%;
                width: rem(50);
                left: 0;
                transform: translate(0, -50%);
            }
            .arrow {
                font-size: rem(12);

                @include breakpoint(small) {
                    font-size: rem(10);
                }
            }
        }
        &__sub-menu {
            display: block;
            background: darken($primary, 5%);
            @include darkMode {
                background: $accent-dark;
            }
            width: 100%;
            height: 0;
            border-radius: rem(8);
            opacity: 0;
            visibility: hidden;

            a {
                font-size: $global-font-size-sm;

                color: $white;
                background-color: transparent;
                font-weight: 400;
                @include breakpoint(small) {
                    font-size: rem(12);
                }
            }

            li {
                width: 100%;
                margin: rem(2) 0;
                padding: rem(6) rem(12);
                @include breakpoint(small) {
                    margin: 0;
                    padding: rem(2) rem(6);
                }
                border-radius: rem(12);
                color: $accent-dark;
                &:hover {
                    background-color: $white;
                    @include darkMode{
                        background-color: #101214;
                    }
                }
                &:hover a {
                    color: $accent;

                    @include darkMode {
                        color: $white;
                    }
                }
            }
        }
        &__dropdown:hover .c-navbar__sub-menu {
            margin-top: rem(8);
            visibility: visible;
            padding: rem(8) rem(4);
            @include breakpoint(small) {
                padding: rem(4) rem(2);
            }
            opacity: 1;
            box-shadow: 0 0 rem(4) var(--color-shadow);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: rem(160);
        }
        &__dropdown {
            margin-bottom: rem(-8);
        }
        &__profile {
            width: rem(250);
        }
        &__profile-details {
            @include flex(start);
            margin: 0 auto;
            width: 80%;
        }
        &__image-profile {
            width: rem(50);
            height: rem(50);
            overflow: hidden;
            display: block;
            border-radius: 100%;
            margin-right: rem(8);
            font-size: rem(25);
            color: $white;
            background-color: $primary;
            @include flex(center);

            @include darkMode(){
                background-color: $accent;
            }
            @include breakpoint(small) {
                height: rem(30);
                width: rem(30);
            }
        }
        &__name-job {
            display: block;
            div {
                font-size: $global-font-size-lg !important;
                font-weight: bolder !important;
            }
        }
        &__log-out {
            left: 80%;
        }
    }
}
    /* -------------------------------- OUTRO MENU --------------------- */
.user.l-header {
    position: fixed;
    height: 100%;
    box-shadow: 0 rem(8) rem(14) var(--color-shadow);
    left: 0;
    top: 0;
    width: rem(80);
    padding: rem(6) rem(14);
    @include breakpoint(small) {
        padding: rem(4) rem(6);
        width: rem(50);
    }
    z-index: $z-dropdown;
    transition: 0.5s ease;
    background: linear-gradient(120deg, darken($primary, 5%), $primary);

    @include darkMode {
        background: #1a1d20;
    }
    &--open {
        width: rem(250);
    }
    // overflow: auto;
    * {
        transition: all 0.5s ease;
    }
    &__logo {
        height: rem(60);
        display: flex;
        align-items: center;
        position: relative;
        @include breakpoint(small) {
            padding: rem(4) rem(6);
            height: rem(40);
            margin-bottom: rem(-10);
        }
    }

    &__image {
        color: $white;
        font-weight: 600;
        opacity: 0;
        z-index: -5;
        max-width: rem(120);
        // display: none; //Aparecer no open
    }
    &--open &__image {
        opacity: 1;
    }

    &__menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }

    .icon {
        fill: $white;
        position: absolute;
        top: 50%;
        // width: rem(50);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;

        path {
            padding: rem(10);
            @include breakpoint(small) {
                padding: rem(4);
            }
        }

        @include breakpoint(small) {
            font-size: rem(12);
        }
    }
    &--open .icon {
        top: 50%;
        width: rem(50);
        left: 0;
        transform: translate(0, -50%);
        text-align: center;
        cursor: pointer;
    }
    &--open .icon.close {
        left: 80% !important;
    }
    label {
        max-width: rem(80);
        margin-bottom: rem(-12);

        @include breakpoint(small) {
            margin-top: rem(12);
        }
        @include flex(start);
    }
    &--open label {
        justify-content: center;
        max-width: rem(200);
    }
    label .MuiTypography-root {
        color: $white;
        display: none;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
    &--open label .MuiTypography-root {
        display: block;
    }
    .c-switch {
        margin-left: rem(8);
        @include breakpoint(small) {
            margin-left: rem(0);
            transform: scale(0.8);
        }
    }

    .MuiSwitch-colorSecondary.Mui-checked {
        color: saturate(lighten($accent, 45%), 50%);
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: saturate(lighten($accent, 45%), 50%);
    }

    .c-navbar {
        margin-top: rem(20);
        width: 100%;
        height: 100%;
        position: relative;

        &__tooltip {
            position: absolute;
            top: rem(-20);
            left: calc(100% + 15px);
            z-index: $z-dropdown;
            background: $white;
            color: $black;
            box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, 0.3);
            padding: rem(6) rem(12);
            border-radius: rem(4);
            font-size: $global-font-size-sm;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;

            @include breakpoint(small) {
                padding: rem(4) rem(8);
                font-size: rem(12);
            }
        }
        &__menu-item {
            position: relative;
            margin: rem(8) 0;

            &:hover .c-navbar__tooltip {
                opacity: 1;
                pointer-events: auto;
                top: 50%;
                transform: translateY(-50%);
            }

            .arrow {
                opacity: 0;
            }
        }

        &__search {
            width: rem(50);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: rem(50);
            @include breakpoint(small) {
                height: rem(30);
                width: rem(30);
            }
            border-radius: rem(12);

            background: $primary;
            @include darkMode {
                background: $accent-dark;
            }

            &:hover {
                background-color: $white;
                .icon {
                    fill: $accent;
                    @include darkMode {
                        fill: $white;
                    }
                }
            }
        }
        &__input-search {
            font-size: $global-font-size;
            color: $white;
            font-weight: 400;
            outline: none;
            width: 100%;
            height: rem(50);
            width: rem(50);
            border: none;
            border-radius: rem(12);
            display: none;
            &::placeholder {
                color: $white;
            }
            @include breakpoint(small) {
                font-size: $global-font-size-sm;
                height: rem(30);
                width: rem(30);
            }
            background: $primary;
            @include darkMode {
                background: $accent-dark;
            }
        }
        .space {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: rem(50);
            height: rem(50);
            border-radius: rem(12);
            @include breakpoint(small) {
                width: rem(35);
                height: rem(35);
            }
            &:hover {
                background-color: $accent;
                
                .icon {
                    fill: $accent;

                    @include darkMode {
                        fill: #11101d;
                    }
                }
            }
        }
        &__links-name {
            font-size: $global-font-size-sm;
            opacity: 0;
            display: none;
            @include breakpoint(small) {
                font-size: rem(12);
            }
        }
        &__sub-menu {
            display: none;
        }
        &__profile {
            position: fixed;
            height: rem(80);
            width: rem(80);

            left: 0;
            bottom: rem(-8);
            padding: rem(10) rem(14);
            background: darken($primary, 10%);
            @include darkMode {
                background: $accent-dark;
            }
            display: flex;
            overflow: hidden;
            @include breakpoint(small) {
                height: rem(60);
                width: rem(50);
            }
        }
        &__image-profile {
            display: none;
        }
        &__name-job {
            display: none;
            color: $white;
            @include darkMode {
                color: $white;
            }
            .name {
                font-size: $global-font-size-sm;
            }
        }
    }
    &--open .c-navbar {
        &__menu-item {
            &:hover .c-navbar__tooltip {
                opacity: 0;
            }

            .arrow {
                opacity: 1;
            }

            a {
                width: 100%;
            }
        }
        &__links-name {
            color: $white;
            opacity: 1;
            display: flex;
            position: relative;
            top: 50%;
            width: rem(50);
            font-weight: 400;
            left: 0;
            flex-grow: 1;
            align-items: center;
            transform: translate(0, -50%);
        }

        &__search {
            width: rem(50);
            left: 0;
            @include breakpoint(small) {
                height: rem(35);
            }
            transform: translateX(0);
            border-radius: rem(12) 0 0 rem(12);
            &:hover {
                background-color: $primary;
                @include darkMode {
                    background-color: $accent-dark;
                }
                .icon {
                    fill: $white;
                }
            }
        }
        .sc {
            display: flex;
            width: 100%;
        }
        &__input-search {
            width: 100%;
            border-radius: 0 rem(12) rem(12) 0;
            display: block;
            @include breakpoint(small) {
                height: rem(35);
            }
        }
        .space {
            width: 100%;
            position: relative;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            height: rem(50);
            border-radius: rem(12);

            @include breakpoint(small) {
                height: rem(35);
            }
            &:hover {
                background-color: $white;
                @include darkMode{
                    background-color: #101214;
                }
                .icon {
                    fill: $accent;
                    @include darkMode {
                        fill: $accent;
                    }
                }
                span {
                    color: $accent;
                    @include darkMode {
                        color: $white;
                    }
                }
            }
            .icon {
                position: relative;
                top: 50%;
                width: rem(50);
                transform: translate(0, -50%);
            }
        }
        &__sub-menu {
            display: block;
            background: darken($primary, 5%);
            @include darkMode {
                background: $accent-dark;
            }
            width: 100%;
            height: 0;
            border-radius: rem(8);
            opacity: 0;
            visibility: hidden;

            a {
                font-size: $global-font-size-sm;

                color: $white;
                background-color: transparent;
                font-weight: 400;
                @include breakpoint(small) {
                    font-size: rem(12);
                }
            }

            li {
                width: 100%;
                margin: rem(2) 0;
                padding: rem(6) rem(12);
                @include breakpoint(small) {
                    margin: 0;
                    padding: rem(2) rem(6);
                }
                border-radius: rem(12);
                color: $accent-dark;
                &:hover {
                    background-color: $white;
                }
                &:hover a {
                    color: $accent;

                    @include darkMode {
                        color: $accent-dark;
                    }
                }
            }
        }
        &__dropdown:hover .c-navbar__sub-menu {
            margin-top: rem(8);
            visibility: visible;
            padding: rem(8) rem(4);
            @include breakpoint(small) {
                padding: rem(4) rem(2);
            }
            opacity: 1;
            box-shadow: 0 0 rem(4) var(--color-shadow);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: rem(160);
        }
        &__dropdown {
            margin-bottom: rem(-8);
        }
        &__profile {
            width: rem(250);
        }
        &__profile-details {
            @include flex(start);
            margin: 0 auto;
            width: 80%;
        }
        &__image-profile {
            width: rem(50);
            height: rem(50);
            overflow: hidden;
            display: block;
            border-radius: 100%;
            margin-right: rem(8);
            font-size: rem(25);
            color: $white;
            background-color: $primary;
            @include flex(center);

            @include darkMode(){
                background-color: $accent;
            }

            @include breakpoint(small) {
                height: rem(30);
                width: rem(30);
            }
        }
        &__name-job {
            display: block;
            div {
                font-size: $global-font-size-lg !important;
                font-weight: bolder !important;
            }
        }
        &__log-out {
            left: 80%;
        }
    }
}
