body {
    padding-top: rem(70);
}
.l-headerMain {
    background-color: $primary;
    @include darkMode {
        background-color: $primary;
        // background-color: #6d88ce;
    }
    padding: $global-padding;
    height: rem(70);
    z-index: 250;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 rem(2) rem(8) var(--color-shadow);
    width: 100%;
}
